<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Ribero">
    <meta name="application-name" content="Kactuz Studios">
    <meta name="keywords" content="kactuz, kactuz studios, kactuzgang, opium, streetwear">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/conta.css">
    <title>Kactuz Studios</title>
</head>
<body id="cadastro">
    <header class="header">
        <img src="../static/imgs/kactuz.png" alt="Logo Kactuz" />
        <div class="links">
        <a href="{{ url_for("homepage") }}">Home</a>
        <a href="{{ url_for("products") }}">Produtos</a>
        <a href="https://www.instagram.com/kactuz_studios">Contato</a>
        <a href="{{ url_for("look") }}">LookBook</a>
        </div>
    </header>
    <form action="" method="post">
		{{ form.csrf_token }}

			{{ form.usuario.label(class="label") }}
			{{ form.usuario(class="input") }}
            {% if form.usuario.errors %}
                {% for error in form.usuario.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            {% endif %}

            {{ form.email.label(class="label") }}
			{{ form.email(class="input") }}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            {% endif %}

			{{ form.senha.label(class="label") }}
			{{ form.senha(class="input") }}
            {% if form.senha.errors %}
                {% for error in form.senha.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            {% endif %}

            {{ form.confirma_senha.label(class="label") }}
			{{ form.confirma_senha(class="input") }}
            {% if form.confirma_senha.errors %}
                {% for error in form.confirma_senha.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            {% endif %}

			{{ form.botao(class="botao") }}

            <a class="criarconta" href="{{ url_for("login") }}">Entrar na Conta</a>

	</form>

    <script>
        // Validação de Email
        const email = document.querySelector('input[name="email"]');
        const emailError = document.getElementById('email-error');

        email.addEventListener('blur', function() { // Evento 'blur'
            if (email.value !== "" && !isValidEmail(email.value)) { //Valida somente se o campo não estiver vazio
                emailError.style.display = 'block';
            } else {
                emailError.style.display = 'none';
            }
        });

        function isValidEmail(email) {
            return /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/.test(email);
        }

        // Validação de Senha (mesma lógica, evento 'blur')
        const senha = document.querySelector('input[name="senha"]');
        const confirmaSenha = document.querySelector('input[name="confirma_senha"]');
        const senhaError = document.getElementById('senha-error');

        confirmaSenha.addEventListener('blur', function() {
            if (confirmaSenha.value !== "" && senha.value !== confirmaSenha.value) {
                senhaError.style.display = 'block';
            } else {
                senhaError.style.display = 'none';
            }
        });
    </script>
</body>
</html>