<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Ribero">
    <meta name="application-name" content="Kactuz Studios">
    <meta name="keywords" content="kactuz, kactuz studios, kactuzgang, opium, streetwear">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Kactuz Studios</title>
</head>
<body>
    <header class="header">
        <img src="../static/imgs/kactuz.png" alt="Logo Kactuz" />
        <div class="links">
        <a href="{{ url_for("homepage") }}">Home</a>
        <a href="{{ url_for("products") }}">Produtos</a>
        <a href="https://www.instagram.com/kactuz_studios">Contato</a>
        </div>
    </header>
    <form action="" method="post">
		{{ form.csrf_token }}

			{{ form.usuario.label(class="label") }}
			{{ form.usuario(class="input") }}

            {{ form.email.label(class="label") }}
			{{ form.email(class="input") }}

			{{ form.senha.label(class="label") }}
			{{ form.senha(class="input") }}

            {{ form.confirma_senha.label(class="label") }}
			{{ form.confirma_senha(class="input") }}

			{{ form.botao(class="botao") }}

            <a class="criarconta" href="{{ url_for("login") }}">Entrar na Conta</a>

	</form>
</body>
</html>