<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kactuz Studios | Compra</title>
</head>
<body>
    <form action="" method="post">
        {{ form.csrf_token }}

            {{ form.email.label() }}
            {{ form.email() }}

            {{ form.cep.label() }}
            {{ form.cep() }}

            {{ form.address.label() }}
            {{ form.address() }}

            {{ form.numero.label() }}
            {{ form.numero() }}

            {{ form.complemento.label() }}
            {{ form.complemento() }}

            {{ form.botao() }}
    </form>
</body>
</html>