<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Ribero">
    <meta name="application-name" content="Kactuz Studios">
    <meta name="keywords" content="kactuz, kactuz studios, kactuzgang, opium, streetwear">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Kactuz Studios | Produtos</title>
</head>
<body>
    <header class="navbar">
        <img src="../static/imgs/kactuz.png" alt="Logo Kactuz" />
        <div class="texto-header">
            <a href="{{ url_for("homepage") }}">Home</a>
            <a href="products.html">Produtos</a>
            <a href="#contact">Contato</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for("logout") }}">Logout</a>
            {% else %}
                <a href="{{ url_for("login") }}">Login</a>
            {% endif %}
        </div>
    </header>
    <div class="produto">
        <a href="{{ url_for("camisa") }}"><img class="camisa" src="../static/imgs/camisasemfundo.png" alt=""></a>
    </div>
</body>
</html>